


#crud{
    font-family: sans-serif;
    background-color: rgba(255, 255, 255, 0.658);
    margin-top: 5%;
    width: 60%;
    height: 70%;
    max-height: 700px;
    padding: 1%;
    border-radius: 20px;
    overflow-y: auto;
}

#titulo{
    border-bottom: 2px solid black;
}


#crud table {
    background-color: rgba(102, 137, 182, 0.39);
    width: 100%;
}
